<p>
    Владимир Константинович Лицкевич родился 17 ноября 1926 года в г. Ленинграде. В двух-трех летнем возрасте он заболел полиомиелитом, вследствие чего остался в категории людей «инвалид детства». Была парализована левая нога и с шести лет на протяжении всей жизни он пользовался протезным аппаратом.
</p>
<p>
    Когда ребенку исполнилось 5 лет, его родители разошлись. Вскоре мать – Лидия Павловна (урожденная Савинская) вышла замуж за очень хорошего человека – Чернышева Николая Николаевича врача-терапевта по специальности, с которым была знакома ранее. Родной отец Володи – Константин Николаевич Лицкевич – авиаконструктор по специальности, остался жить в семье Савинских. Спустя какое-то время он женился на сестре Лидии Павловны – Евгении. Подробнее об этом и еще о многом можно узнать из книги воспоминаний самого В.К. Лицкевича «Калужане Чернышевы», написанной им в 2007 году и изданной в Калуге издательством «Фридгельм».
</p>
<p>
    Володя жил с мамой, отчимом и сводной сестренкой – Ирой, дочерью Николая Николаевича от первого брака с Натальей Борисовной Ридман, которая умерла, когда Ирочке было два года. Володя был старше сестры на 1 год и 2 месяца. Вновь созданная семья (она с сыном – из Ленинграда, он с дочерью – из Гомеля) переехала на постоянное жительство в Калугу. Николай Николаевич оформился на работу в железнодорожную поликлинику.
</p>
<p>
    Еще до того, как дети пошли в школу, родители решили, что они должны знать иностранный язык. Поэтому в доме появилась учительница немецкого языка – Гельма Густавовна, а в школьные годы ее сменила Елена Адольфовна.
</p>
<p>
    Учили детей и музыке. Лидия Павловна с 1934 года работала в Калужском драматическом театре, заведовала музыкальной частью. Ею написана музыка для 45 спектаклей. Ее привлекали и к организации самодеятельных концертов, к работе с детскими коллективами.
</p>
<p>
    В середине 30-х годов мать Лидии Павловны – Юлия Ивановна – прислала в подарок из Ленинграда свое пианино. В доме уже был один музыкальный инструмент – скрипка. Скрипка принадлежала отцу Николая Николаевича. Он был сельским священником, хорошо пел  и играл на скрипке, писал маслом картины. Скрипка была семейной реликвией и по наследству перешла сыну. Николай Николаевич в юные годы учился игре на скрипке и, будучи в Калуге, иногда музицировал.
</p>
<p>
    Получив пианино, Лидия Павловна стала брать уроки пения у бывшей оперной певицы, а дети заниматься музыкой. Началось знакомство с миром искусства.
</p>
<p>
    В 1934 году Володя с Ирой пошли в школу. Учились они в одном классе. Добрая, счастливая жизнь в Калуге длилась с 1932 по 1941. Началась Великая Отечественная война…
</p>
<p>
    В первых числах октября 1941 года госпиталь, где Николай Николаевич работал главным врачом, был эвакуирован во Фрунзе (Киргизия). Семья уезжала в полном составе, но через полчаса пути эшелон остановился. Бомбили железную дорогу. Была паника, были потери, страх, непонимание… Когда бомбежка закончилась, Лидия Павловна сказала мужу, что она с детьми остаются! Николай Николаевич не мог повлиять на нее и не мог нарушить приказ. С дрожащими губами, со слезами на глазах, бледный и потрясенный он стоял на подножке уходящего состава и махал рукой, стоящим на платформе, своим самым дорогим людям…, а они пустились пешком в долгий и тяжелый обратный путь.
</p>
<p>
    Через неделю в Калугу вошли немецкие войска. С 14-го октября по 30 декабря 1941 года (два с половиной месяца) Калуги и Калужане были в оккупации. Ситуация усугубилась еще и тем, что во дворе их дома был колодец, которым пользовалась вся округа, в том числе и немцы. Водопроводные сети были разрушены. Много страшного пришлось увидеть и пережить Володе с сестрой и мамой, - расстрел «каждого десятого» на своей улице, пожар соседнего дома, где сгорели 5 человек и среди них дети. На улицах оставались не убранные трупы. Было голодно – Володя с товарищем ходили на бойню, там можно было добыть коровьи желудки и кишки; женщины научились готовить из них «еду».
</p>
<p>
    В завершении всех бед немцы, уходя, сожгли Калужский драматический театр. Над тлеющими углями рыдала мама, плакала Ира.
</p>
<p>
    Все это время от отца не было вестей, но мать твердила, что он жив. И вот, в марте 1942 года пришло письмо из Фрунзе, в котором он сообщает, что жив и хлопочет о пропуске для выезда семьи к нему в Киргизию.
</p>
<p>
    Оформление документов в самой Калуге оказалось долгим и болезненным. Пострадала Лидия Павловна из-за всякого рода допросов и необоснованных обвинений, потому только, что они жили в оккупации. К счастью, приехал отец, все быстро организовал и вчетвером Чернышевы (включая одного Лицкевича) выехали из Калуги и добрались до Фрунзе.
</p>
<p>
    На смену оккупации пришла эвакуация. Седьмой класс Ира и Володя проучились вместе, а потом их разделили – Володя в мужской школе, Ира – в женской. Там в 1945 году они оба закончили десятый класс. В то же время семья возвращается в Калугу.
</p>
<p>
    С 1946 года начинается новый этап жизни. Ребята переезжают жить в Москву, ютятся у родственников. Володя еще пожил и в общежитии.
</p>
<p>
    После некоторых мытарств Ирина выбрала свой жизненный путь. Окончив Московский Педагогический Институт, она стала преподавателем немецкого языка в спецшколе на Таганке, где проработала до конца жизни (31 июля 1998 года).
</p>
<p>
    Володин путь был более извилист. Он хотел быть художником. В этом стремлении его поддерживала мама. Откуда бы он ни возвращался, она обязательно спрашивала: «… А ты рисовал?». Однако, Володя почувствовал, что этого направления он не потянет… и решил поступить в Архитектурный Институт. Экзамен по рисунку с его слов «благополучно провалил». Потерял год, но упорно ходил на занятия в подготовительное отделение института.
</p>
<p>
    Как раз в этот период, идя на занятия, Володя встречает на Кузнецком мосту, рядом с МАРХИ (Московским Архитектурным Институтом) Мишу Курилко, с которым познакомился во Фрунзе (смотри книгу «Калужане Чернышевы»). Миша знакомит Володю со своим отцом – Курилко Михаилом Ивановичем, известным художником. За несколько занятий Курилко старший подготовил Володю к экзаменам по рисунку и на следующий год он поступил в институт.
</p>
<p>
    Получив диплом архитектора, теперь уже – Владимир Константинович с женой однокурсницей Наталией Ивановной (в девичестве Рябова) получает направление на работу в Свердловский «Горпроект». Здесь они проработали три года.
</p>
<p>
    Успешно завершив проектирование и частично строительство ряда жилых домов, а также больничного корпуса, творчески разработав эскизы плотины, возводимой в центре города, они возвращаются в Москву.
</p>
<p>
    В.К. Лицкевич поступает в очную аспирантуру при Академии Архитектуры СССР. В конце учебы по совместительству он начинает работать в НИИ Жилища при Академии. Институт меняет название, расширяется, выполняет функции головного, руководит пятью начальными институтами (СибЗНИИЭП, ЛенЗНИИЭП, ТбилЗНИИЭП и ТашЗНИИЭП). Владимир Константинович растет вместе с институтом. В 1962 году он защищает кандидатскую диссертацию, в 1989 году – докторскую. Руководит сначала сектором «Нормирования и методологии проектирования», а затем сектором «Районирования и гигиены жилища». В 1992 году ему присвоили звание Профессора.
</p>
<p>
    В научном отделении ЦНИИЭП жилища Владимир Константинович проработал более 50 лет и являлся одним из старейших и заслуженных сотрудников института. Он был одним из отцов-основателей новой науки, получившей название – «Климатическая типология жилища», задача которой состоит в достижении максимального микроклиматического эффекта и улучшении архитектуры жилища путем применения архитектурных форм, обоснованных различными климатическими условиями.
</p>
<p>
    На основе изучения проблемы и проведенной автором классификации условий им было разработано «Климатическое районирование территории СССР». Результаты исследований научного отделения, полученные при участии, а затем и под руководством В.К. Лицкевича, легли в основу строительных норм и правил (СНиП), тех самых, с которых начинается проектирование любого объекта на всей территории страны.
</p>
<p>
    В конце 1993 года по распоряжению Правительства Институт ЦНИИЭП жилища был преобразован в Акционерное Общество.
</p>
<p>
    1 декабря 1994 года, в возрасте 68 лет, В.К. Лицкевич уволился с работы по собственному желанию (в то время было поветрие – «Достиг пенсионного возраста? До свидания!»). Однако, ему дали отдохнуть всего два месяца. Лично директор звонил и очень убедительно просил вернуться в родной его институт. Не устоял Владимир Константинович перед соблазном. Зачислили его на постоянную работу в должности Ученого секретаря Докторского ученого совета Института с 1 февраля 1995 года. В этой должности он доработал до последнего дня своей жизни – 29 мая 2011 года. 28 мая 2011 он еще консультировал аспиранта. Любимой Архитектурной науке отдана вся его трудовая деятельность.
</p>
<p>
    По тематике научных исследований В.К. Лицкевичем опубликовано свыше 80 книг, брошюр, нормативных документов, статей, обзоров. Под руководством В.К. Лицкевича работали и успешно защитились 19 аспирантов и соискателей ученой степени кандидата Архитектуры. Он был консультантом трех, также успешно защитившихся докторантов.
</p>
<p>
    Однако, не хлебом единым был жив человек. Было у него два увлечения: Первое – любовь к пению и музыке, второе – рисование и живопись.
</p>
<p>
    Пение, видимо, связано с занятиями мамы. Так или иначе, с детства он любил петь советские патриотические песни, следил за успехами мамы, а у нее был очень проникновенный голос. Позднее в институте, Владимир занимался в кружке и выступал в концертах самодеятельности.
</p>
<p>
    Работая в ЦНИИЭП жилища, он долгие годы ходил на занятия к частной преподавательнице. У нее же, в одно время с Владимиром, училась пению известная певица, солистка Большего Театра Ирина Архипова, которая как и Владимир, окончила Московский Архитектурный Институт.
</p>
<p>
    Увлечение пением и желание совершенствоваться в этом направлении продолжались. Помнится дуэт Онегина и Ленского в исполнении Владимира Лицкевича (баритон) и Дмитрия Тонского (тенор). Д.Г. Тонский – сотрудник ЦНИИЭП жилища, экономист, доктор экономических наук, а главное – добрый и верный друг.
</p>
<p>
    Музыка… И опять мама, которая привила любовь к этому искусству. С ранних лет Володя замирал, слушая музыку. В зрелые годы он – частый гость Консерватории. Вот он сидит в зале, прикрыв глаза и весь поглощён звуками, переживает то, что хотел сказать композитор, в может вкладывает что-то свое, полностью отключившись от окружающей реальности.
</p>
<p>
    Много лет назад Владимир Константинович присутствовал на первом профессиональном фортепьянном концерте Дениса Мащуева в Большом зале Консерватории. Он откровенно плакал, не вытирая слез, а они все текли и текли…
</p>
<p>
    Если он приходил куда-нибудь, где было пианино, то обязательно садился за него и тихонько наигрывал что-то мелодичное, трогающее чувства. Дома тоже любил, как бы уединиться и музицировать, подбирая свои мелодии.
</p>
<p>
    И все-таки любимым детищем его была живопись (особенно акварель) и графические рисунки. Конечно, и тут не обошлось без мамы. Лидия Павловна была творческой личностью во многих направлениях. В детские годы Иринки и Володи она делала с ними елочные игрушки, строила макеты: «Ледокол «Серов» во льдах», «Домик в Шу…нсом». Лепила из пластилина личико, делала папье-маше, обтягивала чулком, раскрашивала и готова головка. Иногда она рисовала, например, «Портрет внука – Андрея Лицкевича» (сына Владимира Константиновича). Надо сказать, что сходство с натурой было большое. Замеченные ею черточки, свойственные характеру изображенного ребенка, сохранились и до сегодняшнего дня, когда «ребенку» уже за 60 лет.
</p>
<p>
    Детских рисунков Володи не сохранилось. Эскизы периода пребывания во Фрунзе скорее можно назвать сюрреалистическими. Серьезные же работы начались со знакомства с М.И. Курилко. Это была, хоть и короткая, но хорошая школа. Он почувствовал, что может. Потом были кафедры «Рисунка» и «Живописи» в Архитектурном институте, затем различные секции и кружки. Но главное – это любовь к изобразительному искусству, постоянное стремление писать и рисовать, где только и как только возможно.
</p>
<p>
    Служебная деятельность Владимира Константиновича была связана с постоянными командировками в разные уголки страны, а то и за рубеж. И где бы он ни был, он обязательно привозил с собой зарисовки, наброски, этюды, эскизы. Часть из них носила законченный характер, а некоторые лишь были началом. Потом зарисовка превращалась в большую картину. То могло быть и масло, и акварель, и карандаш, и пастель.
</p>
<p>
    Отпускные дни также пестрили многообразием – это Крым и Кавказ, Прибалтика и Дальний Восток, Украина и Молдавия, Сибирь и Средняя Азия. И отовсюду он приезжал с новыми задумками и сюжетами.
</p>
<p>
    Собираясь в любую поездку, первым делом он складывал бумагу, кисти, карандаши, акварель, а в отпуск и масляные краски.
</p>
<p>
    Формат картин был самый разный. Наибольшая из картин имеет одну из сторон 70 см. В некоторых картинах это высота, в других – ширина.
</p>
<p>
    Прежде, чем говорить наименьшем размере, хотелось бы отметить интересную деталь. Когда Владимир был студентом и жил в общежитии, в одной комнате с ним жил весьма необычный человек. Он боялся, что кто-то может, мягко говоря, «присвоить» его идею. В программе обучения студентам предлагалась тема, например, проект театра или кинотеатра, или еще какого-нибудь локального объекта. Чтобы избежать опасности этот студент делал проект на спичечном коробке. Володя был потрясен этим. Само по себе это дико, но еще удивительнее, что этот странный человек в деталях разрабатывал проект и не плохой, очень даже хороший и грамотный. Его оценки были, как правило «отл.», т.е. «отлично».
</p>
<p>
    Володя часто вспоминал этот феномен, который, видимо, и отразился на его творчестве. Он стал писать миниатюры. Не для того, чтобы скрыть их от зрителя, а для того, чтобы убедиться, что в любом масштабе можно добиться результата и показать даже необходимые детали.
</p>
<p>
    В домашнем архиве сохранились некоторые из них. Самая маленькая акварель имеет размер 3см на 2,5 см.
</p>
<p>
    Владимир Константинович был прекрасным педагогом и методистом, как в архитектурной науке, так и в рисунке и живописи. При этом сам он беспрестанно совершенствовал свои знания, изучал теоретические труды художников, анализировал их картины, прислушивался к советам, читал книги по искусству и рисовал, рисовал, рисовал…
</p>
<p>
    Работы В.К. Лицкевича неоднократно выставлялись на персональных выставках:
    <ul>
        <li>Апрель 1990г. – «Тимирязевский» выставочный зал (Москва)</li>
        <li>8-15 ноября 1996г. – Частная Галерея «Багира» (Москва)</li>
        <li>4-13 декабря 1996г – Белая гостиная Центрального Дома Архитекторов (Москва)</li>
        <li>24 января – 7 февраля 1998г – Дом Ученых (Санкт-Петербург)</li>
        <li>7-13 февраля 2003г – Центральный Дом Архитекторов, большое фойе Конференц-зала (Москва)</li>
        <li>Посмертно были организованы две выставки работ В.К. Лицкевича</li>
        <li>13-29 января 2012г – Выставочный зал «Тушино» (Москва)</li>
        <li>6-12 февраля 2012г – «Все остается людям» Дом Архитектора (Москва)</li>
    </ul>
</p>
<p>
    Владимир Константинович был членом трех творческих союзов:
    <ul>
        <li>Союз Московских Архитекторов (в составе Союза Архитекторов России)</li>
        <li>Творческий Союз Художников России</li>
        <li>Международная Федерация Художников, секция: графика и живопись.</li>
    </ul>
</p>
<p>
    Указанная выше секция систематически выставляла работы членов секции. От каждого участника выставки подбирали от одной до восьми - десяти картин по объявленной теме. Выставки организовывались на разных площадках. В.К. Лицкевич принимал участие в пяти таких выставках.
</p>
<p>
    Его живописные работы выставлялись в залах: «Выхино», «Чертаново», «На Каширке», в реабилитационном зале им. А.Н. Островского, в ЦНИИЭП жилища.
</p>
<p>
    Владимир Константинович был также участником Московских городских выставок:
    <ul>
        <li>«Храмы России» 1998г</li>
        <li>«Техника акварели» 1998г</li>
        <li>Пятая юбилейная «Акваживопись» 1999г</li>
    </ul>
</p>
<p>
    Многие работы В.К. Лицкевича находятся в частных коллекциях, в том числе – в Польше, Норвегии, Великобритании (одна его работа даже подарена через официальные, общественные каналы Английской королеве Елизавете II), США, Судане, Испании, Иране, Египте и странах СНГ. Девять авторских картин подарены им Московскому детскому дому №19.
</p>
<p>
    Некоторые работы были выполнены на заказ, но эта практика его не привлекала.
</p>
<p>
    Говоря о личных качествах Владимира Константиновича, следует отметить, что это был интеллигентный, эрудированный, чуткий и скромный человек.
</p>

